In [1]:
import pandas as pd
import numpy as np
import csvkit as cs
import mysql.connector as con
import pymongo 
import json

C:\Users\nikhi\anaconda3\lib\site-packages\requests_toolbelt\_compat.py:56: DeprecationWarning: 'urllib3.contrib.pyopenssl' module is deprecated and will be removed in a future release of urllib3 2.x. Read more in this issue: https://github.com/urllib3/urllib3/issues/2680

In [3]:
######Task1
#Q1)Read this dataset in pandas , mysql and mongodb 
fitbit_data=pd.read_csv(r"C:\Users\nikhi\OneDrive\Documents\Ineuron\Datasets\FitBit data.csv")#importing the Data

In [31]:
type(fitbit_data)#verifying in which type is it

pandas.core.frame.DataFrame

In [16]:
#converting into the json file to import into Mongo Db

fitbit_data.to_json(r"C:\Users\nikhi\OneDrive\Documents\Ineuron\Datasets\FitBit data.json",orient='records')#

In [13]:
#Reading the json file
fitbit_json=pd.read_json(r"C:\Users\nikhi\OneDrive\Documents\Ineuron\Datasets\FitBit data.csv")

In [36]:
#convert all the dates avaible in dataset to timestamp format in pandas and in sql you to convert it in date format
#fitbit=pd.to_DataFrame()

#fitbit_json['ActivityDate1']=pd.Timestamp(fitbit_json['ActivityDate'])

fitbit_json['ActivityDate'] = fitbit_json['ActivityDate'].apply(pd.Timestamp)

In [11]:

with open(r"C:\Users\nikhi\OneDrive\Documents\Ineuron\Datasets\FitBit data.csv") as file :
    data=json.load(file)

In [202]:
data.to_json(r"C:\Users\nikhi\OneDrive\Documents\Ineuron\Datasets\JsonDataFitbit.json")

In [54]:
data=pd.DataFrame(data)

In [55]:
type(data)

pandas.core.frame.DataFrame

In [53]:
#importing the data into mongo DB

client=pymongo.MongoClient("mongodb+srv://nikhilabommareddy:NikhilaAshok@cluster0.lfzadum.mongodb.net/?retryWrites=true&w=majority")
db=client.test
data_dict=data.to_dict(orient='records')
db=client['fitbit_json']
collection=db['newfitbitdata']
collection.insert_many(data_dict)

In [56]:
type(data_dict)

list

In [59]:
#Accessing the data in the Mongo DB
record1= collection.find({"Id":1503960366})

In [63]:
list1=[ ]
for i in record1:
    list1.append(i)

In [64]:
list1

[{'_id': ObjectId('64908d82bfeec493d96ba114'),
  'Id': 1503960366,
  'ActivityDate': '3/28/2016',
  'TotalSteps': 13231,
  'TotalDistance': 8.9300003052,
  'TrackerDistance': 8.9300003052,
  'LoggedActivitiesDistance': 0.0,
  'VeryActiveDistance': 3.1900000572,
  'ModeratelyActiveDistance': 0.7900000215,
  'LightActiveDistance': 4.9499998093,
  'SedentaryActiveDistance': 0.0,
  'VeryActiveMinutes': 39,
  'FairlyActiveMinutes': 20,
  'LightlyActiveMinutes': 224,
  'SedentaryMinutes': 1080,
  'Calories': 1932},
 {'_id': ObjectId('64908d82bfeec493d96ba115'),
  'Id': 1503960366,
  'ActivityDate': '3/29/2016',
  'TotalSteps': 12041,
  'TotalDistance': 7.8499999046,
  'TrackerDistance': 7.8499999046,
  'LoggedActivitiesDistance': 0.0,
  'VeryActiveDistance': 2.1600000858,
  'ModeratelyActiveDistance': 1.0900000334,
  'LightActiveDistance': 4.6100001335,
  'SedentaryActiveDistance': 0.0,
  'VeryActiveMinutes': 28,
  'FairlyActiveMinutes': 28,
  'LightlyActiveMinutes': 243,
  'SedentaryMinutes': 763,
  'Calories': 1886},
 {'_id': ObjectId('64908d82bfeec493d96ba116'),
  'Id': 1503960366,
  'ActivityDate': '3/30/2016',
  'TotalSteps': 10970,
  'TotalDistance': 7.1599998474,
  'TrackerDistance': 7.1599998474,
  'LoggedActivitiesDistance': 0.0,
  'VeryActiveDistance': 2.3599998951,
  'ModeratelyActiveDistance': 0.5099999905,
  'LightActiveDistance': 4.2899999619,
  'SedentaryActiveDistance': 0.0,
  'VeryActiveMinutes': 30,
  'FairlyActiveMinutes': 13,
  'LightlyActiveMinutes': 223,
  'SedentaryMinutes': 1174,
  'Calories': 1820},
 {'_id': ObjectId('64908d82bfeec493d96ba117'),
  'Id': 1503960366,
  'ActivityDate': '3/31/2016',
  'TotalSteps': 12256,
  'TotalDistance': 7.8600001335,
  'TrackerDistance': 7.8600001335,
  'LoggedActivitiesDistance': 0.0,
  'VeryActiveDistance': 2.2899999619,
  'ModeratelyActiveDistance': 0.4900000095,
  'LightActiveDistance': 5.0399999619,
  'SedentaryActiveDistance': 0.0,
  'VeryActiveMinutes': 33,
  'FairlyActiveMinutes': 12,
  'LightlyActiveMinutes': 239,
  'SedentaryMinutes': 820,
  'Calories': 1889},
 {'_id': ObjectId('64908d82bfeec493d96ba118'),
  'Id': 1503960366,
  'ActivityDate': '4/1/2016',
  'TotalSteps': 12262,
  'TotalDistance': 7.8699998856,
  'TrackerDistance': 7.8699998856,
  'LoggedActivitiesDistance': 0.0,
  'VeryActiveDistance': 3.3199999332,
  'ModeratelyActiveDistance': 0.8299999833,
  'LightActiveDistance': 3.6400001049,
  'SedentaryActiveDistance': 0.0,
  'VeryActiveMinutes': 47,
  'FairlyActiveMinutes': 21,
  'LightlyActiveMinutes': 200,
  'SedentaryMinutes': 866,
  'Calories': 1868},
 {'_id': ObjectId('64908d82bfeec493d96ba119'),
  'Id': 1503960366,
  'ActivityDate': '4/2/2016',
  'TotalSteps': 11248,
  'TotalDistance': 7.25,
  'TrackerDistance': 7.25,
  'LoggedActivitiesDistance': 0.0,
  'VeryActiveDistance': 3.0,
  'ModeratelyActiveDistance': 0.4499999881,
  'LightActiveDistance': 3.7400000095,
  'SedentaryActiveDistance': 0.0,
  'VeryActiveMinutes': 40,
  'FairlyActiveMinutes': 11,
  'LightlyActiveMinutes': 244,
  'SedentaryMinutes': 636,
  'Calories': 1843},
 {'_id': ObjectId('64908d82bfeec493d96ba11a'),
  'Id': 1503960366,
  'ActivityDate': '4/3/2016',
  'TotalSteps': 10016,
  'TotalDistance': 6.3699998856,
  'TrackerDistance': 6.3699998856,
  'LoggedActivitiesDistance': 0.0,
  'VeryActiveDistance': 0.9100000262,
  'ModeratelyActiveDistance': 1.2799999714,
  'LightActiveDistance': 4.1799998283,
  'SedentaryActiveDistance': 0.0,
  'VeryActiveMinutes': 15,
  'FairlyActiveMinutes': 30,
  'LightlyActiveMinutes': 314,
  'SedentaryMinutes': 655,
  'Calories': 1850},
 {'_id': ObjectId('64908d82bfeec493d96ba11b'),
  'Id': 1503960366,
  'ActivityDate': '4/4/2016',
  'TotalSteps': 14557,
  'TotalDistance': 9.8000001907,
  'TrackerDistance': 9.8000001907,
  'LoggedActivitiesDistance': 0.0,
  'VeryActiveDistance': 3.3900001049,
  'ModeratelyActiveDistance': 0.6999999881,
  'LightActiveDistance': 5.6900000572,
  'SedentaryActiveDistance': 0.0,
  'VeryActiveMinutes': 43,
  'FairlyActiveMinutes': 18,
  'LightlyActiveMinutes': 285,
  'SedentaryMinutes': 757,
  'Calories': 2030},
 {'_id': ObjectId('64908d82bfeec493d96ba11c'),
  'Id': 1503960366,
  'ActivityDate': '4/5/2016',
  'TotalSteps': 14844,
  'TotalDistance': 9.7299995422,
  'TrackerDistance': 9.7299995422,
  'LoggedActivitiesDistance': 0.0,
  'VeryActiveDistance': 2.9400000572,
  'ModeratelyActiveDistance': 0.7599999905,
  'LightActiveDistance': 6.0399999619,
  'SedentaryActiveDistance': 0.0,
  'VeryActiveMinutes': 36,
  'FairlyActiveMinutes': 18,
  'LightlyActiveMinutes': 341,
  'SedentaryMinutes': 736,
  'Calories': 2083},
 {'_id': ObjectId('64908d82bfeec493d96ba11d'),
  'Id': 1503960366,
  'ActivityDate': '4/6/2016',
  'TotalSteps': 11974,
  'TotalDistance': 7.6700000763,
  'TrackerDistance': 7.6700000763,
  'LoggedActivitiesDistance': 0.0,
  'VeryActiveDistance': 2.0399999619,
  'ModeratelyActiveDistance': 0.4799999893,
  'LightActiveDistance': 5.1500000954,
  'SedentaryActiveDistance': 0.0,
  'VeryActiveMinutes': 27,
  'FairlyActiveMinutes': 12,
  'LightlyActiveMinutes': 228,
  'SedentaryMinutes': 1173,
  'Calories': 1861},
 {'_id': ObjectId('64908d82bfeec493d96ba11e'),
  'Id': 1503960366,
  'ActivityDate': '4/7/2016',
  'TotalSteps': 10198,
  'TotalDistance': 6.4400000572,
  'TrackerDistance': 6.4400000572,
  'LoggedActivitiesDistance': 0.0,
  'VeryActiveDistance': 1.2000000477,
  'ModeratelyActiveDistance': 0.7900000215,
  'LightActiveDistance': 4.4499998093,
  'SedentaryActiveDistance': 0.0,
  'VeryActiveMinutes': 17,
  'FairlyActiveMinutes': 20,
  'LightlyActiveMinutes': 195,
  'SedentaryMinutes': 1208,
  'Calories': 1755},
 {'_id': ObjectId('64908d82bfeec493d96ba11f'),
  'Id': 1503960366,
  'ActivityDate': '4/8/2016',
  'TotalSteps': 12521,
  'TotalDistance': 7.9400000572,
  'TrackerDistance': 7.9400000572,
  'LoggedActivitiesDistance': 0.0,
  'VeryActiveDistance': 3.3099999428,
  'ModeratelyActiveDistance': 0.8999999762,
  'LightActiveDistance': 3.7400000095,
  'SedentaryActiveDistance': 0.0,
  'VeryActiveMinutes': 46,
  'FairlyActiveMinutes': 22,
  'LightlyActiveMinutes': 212,
  'SedentaryMinutes': 1160,
  'Calories': 1895},
 {'_id': ObjectId('64908d82bfeec493d96ba120'),
  'Id': 1503960366,
  'ActivityDate': '4/9/2016',
  'TotalSteps': 12432,
  'TotalDistance': 8.1000003815,
  'TrackerDistance': 8.1000003815,
  'LoggedActivitiesDistance': 0.0,
  'VeryActiveDistance': 2.5899999142,
  'ModeratelyActiveDistance': 0.5899999738,
  'LightActiveDistance': 4.9200000763,
  'SedentaryActiveDistance': 0.0,
  'VeryActiveMinutes': 32,
  'FairlyActiveMinutes': 15,
  'LightlyActiveMinutes': 248,
  'SedentaryMinutes': 738,
  'Calories': 1883},
 {'_id': ObjectId('64908d82bfeec493d96ba121'),
  'Id': 1503960366,
  'ActivityDate': '4/10/2016',
  'TotalSteps': 10057,
  'TotalDistance': 6.9800000191,
  'TrackerDistance': 6.9800000191,
  'LoggedActivitiesDistance': 0.0,
  'VeryActiveDistance': 4.0,
  'ModeratelyActiveDistance': 0.4900000095,
  'LightActiveDistance': 2.4800000191,
  'SedentaryActiveDistance': 0.0,
  'VeryActiveMinutes': 44,
  'FairlyActiveMinutes': 13,
  'LightlyActiveMinutes': 168,
  'SedentaryMinutes': 737,
  'Calories': 1755},
 {'_id': ObjectId('64908d82bfeec493d96ba122'),
  'Id': 1503960366,
  'ActivityDate': '4/11/2016',
  'TotalSteps': 10990,
  'TotalDistance': 7.2600002289,
  'TrackerDistance': 7.2600002289,
  'LoggedActivitiesDistance': 0.0,
  'VeryActiveDistance': 2.0399999619,
  'ModeratelyActiveDistance': 0.5699999928,
  'LightActiveDistance': 4.6500000954,
  'SedentaryActiveDistance': 0.0,
  'VeryActiveMinutes': 26,
  'FairlyActiveMinutes': 14,
  'LightlyActiveMinutes': 216,
  'SedentaryMinutes': 855,
  'Calories': 1811},
 {'_id': ObjectId('64908d82bfeec493d96ba123'),
  'Id': 1503960366,
  'ActivityDate': '4/12/2016',
  'TotalSteps': 224,
  'TotalDistance': 0.1400000006,
  'TrackerDistance': 0.1400000006,
  'LoggedActivitiesDistance': 0.0,
  'VeryActiveDistance': 0.0,
  'ModeratelyActiveDistance': 0.0,
  'LightActiveDistance': 0.1299999952,
  'SedentaryActiveDistance': 0.0,
  'VeryActiveMinutes': 0,
  'FairlyActiveMinutes': 0,
  'LightlyActiveMinutes': 9,
  'SedentaryMinutes': 32,
  'Calories': 50}]

In [66]:
list1=pd.DataFrame(list1)

In [96]:
fitbit_json

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,2016-03-25,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819
1,1503960366,2016-03-26,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154
2,1503960366,2016-03-27,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944
3,1503960366,2016-03-28,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932
4,1503960366,2016-03-29,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,2016-04-08,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196
453,8877689391,2016-04-09,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841
454,8877689391,2016-04-10,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526
455,8877689391,2016-04-11,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820
456,8877689391,2016-04-12,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938

In [206]:
fitbit_json['Id'].unique()

array([1503960366, 1624580081, 1644430081, 1844505072, 1927972279,
       2022484408, 2026352035, 2320127002, 2347167796, 2873212765,
       2891001357, 3372868164, 3977333714, 4020332650, 4057192912,
       4319703577, 4388161847, 4445114986, 4558609924, 4702921684,
       5553957443, 5577150313, 6117666160, 6290855005, 6391747486,
       6775888955, 6962181067, 7007744171, 7086361926, 8053475328,
       8253242879, 8378563200, 8583815059, 8792009665, 8877689391],
      dtype=int64)

In [87]:
 format(fitbit_json['Id'].unique())

'[1503960366 1624580081 1644430081 1844505072 1927972279 2022484408\n 2026352035 2320127002 2347167796 2873212765 2891001357 3372868164\n 3977333714 4020332650 4057192912 4319703577 4388161847 4445114986\n 4558609924 4702921684 5553957443 5577150313 6117666160 6290855005\n 6391747486 6775888955 6962181067 7007744171 7086361926 8053475328\n 8253242879 8378563200 8583815059 8792009665 8877689391]'

In [111]:
#grouping by ID and sum of the Calories to know each unique person how much they burnt their Calories
data5=pd.DataFrame(fitbit_json.groupby(['Id'])['Calories'].sum())

In [118]:
# This will give us the maximum amount of calories burnt person details 
data5[data5['Calories']==data5['Calories'].max()]

            Calories
Id
4020332650     98412

In [121]:

data[data['Calories']==0 ]

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,4/8/2016,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196
453,8877689391,4/9/2016,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841
454,8877689391,4/10/2016,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526
455,8877689391,4/11/2016,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820
456,8877689391,4/12/2016,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938

In [125]:
# Ques 6 . how many of them have not logged there activity find out in terms of number of ids
df6=pd.DataFrame(data[data["LoggedActivitiesDistance"]==0]['Id'].unique(),columns=['Id'])# this is for identifying the Id which has not been logged

In [132]:
print("{} Length of the Unique Id's".format(len(df6)))# counting the no of uniques Ids which are not logged yet

35 Length of the Unique Id's

In [138]:
df7=pd.DataFrame(data.groupby(['Id'])['Calories'].sum())# To know the unique Ids and to sum all the calories that they have been burnt

In [145]:
df7[df7['Calories']==df7['Calories'].min()]# to know the id which they burnt the minimun calories

            Calories
Id
4388161847     14442

In [148]:
# to know the healthy persons in the dataset the person needs to burn equal quantity of the intake they were taking 

data['Daily_req']=data['Calories'].apply(lambda x: 'Y' if x>1500  else 'N' )

In [154]:
data8=pd.DataFrame(data.groupby(['Id'])['Daily_req']).count()

In [161]:
df8['cnt_y']=pd.DataFrame(data[data['Daily_req']=='y'].groupby(['Id'])['Daily_req'].count())

In [160]:
data=pd.Dataframe(data[data['Daily_req']=='y']).

Empty DataFrame
Columns: [Daily_req]
Index: []

In [167]:
df10=pd.DataFrame(data.groupby(['Id'])['Calories'].mean()).reset_index()

In [174]:
df10['RankforhealthyPerson']=df10['Calories'].rank(ascending=False)

In [198]:
print(df10[df10['RankforhealthyPerson']==3])
#df10.sort_values(by=['RankforhealthyPerson','Id'],inplace=False)

            Id     Calories  RankforhealthyPerson
21  5577150313  3300.272727                   3.0

In [212]:

df11=pd.DataFrame(data[data['Daily_req']=='Y'].groupby(['Id'])['Calories'].max())

In [213]:
df11['Calories'].round(100 * )

            Calories
Id
1503960366      2154
1624580081      1574
1644430081      4029
1844505072      1971
1927972279      2783
2022484408      3021
2026352035      1583
2320127002      2206
2347167796      2488
2873212765      2257
2891001357      4562
3372868164      2069
3977333714      1783
4020332650      4034
4057192912      2484
4319703577      2341
4388161847      1878
4445114986      2424
4558609924      2235
4702921684      3597
5553957443      2249
5577150313      4430
6117666160      2884
6290855005      3119
6391747486      2442
6775888955      4286
6962181067      2437
7007744171      3086
7086361926      2862
8053475328      3697
8253242879      2162
8378563200      4234
8583815059      2786
8792009665      3004
8877689391      4526

0      Y
1      Y
2      Y
3      Y
4      Y
      ..
452    Y
453    Y
454    Y
455    Y
456    N
Name: Daily_req, Length: 457, dtype: object